*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: aqua;
    height: 64px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.main{
    background-color: #f8fafc;
    min-height: 90vh;
}
